@import '../../colors.scss';

.settingsContent {
  margin-top: 10px;

  .heading {
    background-color: $primary-blue;
    color: $true-white;

    .headingText {
      margin-left: 5px;
      display: inline-block;
    }
  }

  .button {
    display: inline-block;
    float: right;
  }

  .submitButton {
    background: $secondary-blue;
    color: $true-white;

    &:focus {
      background: $secondary-blue;
    }
  }

  .emailField {
    width: 50%;
    display: inline-block;
  }
}
