.gradle/
.idea/
build/
gradlew.bat
api/out/
web/out/
*.iml
node_modules
web/package-lock.json
web/src/main/resources/static/
.project
.settings/
api/.classpath
api/.project
api/.settings/
api/bin/
web/.classpath
web/.project
web/.settings/
web/bin/
alert/cert.pem
alert/key.pem
