@import '../../../colors.scss';

.navbarBrand {
  color: $primary-white !important;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
}

.navBar {
  background-color: $primary-blue;
  margin-bottom: 0px;
  border: 0px;
}

.tab {
  margin-right: 10px;
  border-bottom: 2px solid transparent;

  a {
    transition: all 0.25s ease;
    background-color: $primary-blue !important;
    border-bottom: 2px solid $primary-blue;
    color: $primary-white !important;

    &:hover {
      color: $secondary-blue !important;
    }
  }

  &:hover {
    border-bottom: 2px solid $secondary-blue;
  }
}

.activeTab {
  a {
    color: $secondary-blue !important;
  }
  border-bottom: 2px solid $secondary-blue;
}

.dropdownMenu {
  margin-left: 15px;
  a {
    background-color: $primary-blue !important;
    color: $primary-white !important;
    transition:all 0.25s ease;

    &:hover {
      color: $secondary-blue !important;
    }
  }
  ul {
    background-color: $primary-blue !important;
  }
  img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
  }
}
