@import '../../colors.scss';

.content {
  margin-bottom: 50px;
}


.header {
  font-size: 68px;
  color: $primary-blue;
}

.caption {
  font-size: 18px;
  margin-bottom: 20px;
}

.highlight {
  color: $secondary-blue !important;
}

.tabs {
  .tabContent {
    margin-top: 10px;
  }
}

.button {
  background: $secondary-blue;
  color: $true-white;
}
