@import '../../colors.scss';

.carousel {
  margin-bottom: 10px;

  .carouselItem {
    height: 500px;

    .content1 {
      margin:auto;
      width: 75%;
    }
  }
}


.header {
  font-size: 68px;
}

.caption {
  font-size: 18px;
}

.highlight {
  color: $secondary-blue !important;
}

:global {
  .carousel-control {
    width: 10px;
    background-image: none !important;
  }
}
