@import '../../colors.scss';

.mainContent {
  margin-top: 40px;
}


.openBountyButton {
  width: 100%;
  margin-top: 5px;
  background: $secondary-blue;
  color: $true-white;

  &:active, &:focus, &:hover {
    background: $secondary-blue;
    color: $true-white;
  }
}
