$primary-blue: #13293D;
$secondary-blue: #1B98E0;
$primary-white: #FBFEF9;
$primary-gray: #E9E9E9;
$true-white: #FFFFFF;
$light-gray: #F0F0F0;
$twitch-purple: #6441A5;
$twitch-purple2: #472e75;
$twitch-dark-purple: #2F1F4E;
$error-red: #FF0000;
$success-green: #5cb85c;
$outline-gray: #eee;

:export {
  primaryBlue: $primary-blue;
}
