$primary-blue: #13293D;
$secondary-blue: #1B98E0;
$primary-white: #FBFEF9;
$gray: #ddd;
$primary-gray: #E9E9E9;
$splash-gray: #5E5E5E;
$true-white: #FFFFFF;
$light-gray: #F0F0F0;
$twitch-purple: #6441A5;
$twitch-purple2: #472e75;
$twitch-dark-purple: #2F1F4E;
$error-red: #FF0000;
$success-green: #5cb85c;
$outline-gray: #eee;
$true-black: #000000;
$money-green: #047500;

$table-gray1: #f9f9f9;
$table-gray2: #f5f5f5;

:export {
  primaryBlue: $primary-blue;
}
